export const consumer_key        = '';
export const consumer_secret     = '';
export const access_token_key    = '';
export const access_token_secret = '';
export const api                 = 'http://localhost:9001';
